.aboutBigContainer {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* text-align: center; */
  height: 100vh;
  position: relative;
  background-color: #f4f4f2;
}

.aboutContainer {
  width: 90%;
}

.aboutSectionTag {
  font-family: "Press Start 2P", cursive;
  font-size: 1vh;
  color: #dfdfdf;
  margin-top: 12vh;
}

.aboutFirstH2Tag {
  font-family: "Press Start 2P", cursive;
  font-size: 1vh;
  color: #dfdfdf;
  margin-top: 15vh;
  margin-left: 1vh;
}

.aboutMyself {
  display: flex;
  align-items: center;
  margin-top: -3vh;
  margin-left: 5vh;
}

.animate {
  animation-duration: 1s;
  animation-name: name-animate;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes name-animate {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

/* @keyframes name-animate {
  0% {
    transform: scale(-1) rotate(0);
  }
  5% {
    transform: scale(-1.5) rotate(0);
  }
  10% {
    transform: scale(-1.75) rotate(0);
  }
  15% {
    transform: scale(-2) rotate(0);
  }
  20% {
    transform: scale(-3) rotate(0);
  }
  100% {
    transform: scale(0) translate3D(-10vw, -10vw) rotate(0);
  }
} */

.aboutMyself > h1 {
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
  font-size: 3vh;
}

.aboutLineDiv {
  width: 30vh;
  height: 2px;
  background-color: black;
  margin-left: 2vh;
}

.aboutSecondH2tag {
  font-family: "Press Start 2P", cursive;
  font-size: 1vh;
  color: #dfdfdf;
  margin-top: -1.3vh;
  margin-left: 1vh;
}

.aboutFirstPTag {
  font-family: "Press Start 2P", cursive;
  font-size: 1vh;
  color: #dfdfdf;
  margin-top: 3vh;
  margin-left: 1vh;
}

.aboutIntro {
  width: 700px;
  font-family: "Press Start 2P", cursive;
  color: #4e4c4c;
  font-size: 1.5vh;
  line-height: 3vh;
  margin-top: -0.5vh;
  margin-left: 5vh;
}

.aboutSecondPTag {
  font-family: "Press Start 2P", cursive;
  font-size: 1vh;
  color: #dfdfdf;
  margin-top: -1vh;
  margin-left: 1vh;
}

.aboutMark {
  font-size: 25vh;
  font-weight: bold;
  font-family: "Press Start 2P", cursive;
  position: absolute;
  margin: 0;
  color: #dfdfdf;
  right: 0;
  bottom: 0;
  margin-right: 35vh;
}
.animate-about {
  animation-duration: 0.5s;
  animation-name: name-about;
  /* opacity: 0; */
  animation-fill-mode: forwards;
}

@keyframes name-about {
  0% {
    transform: translateX(400px);
  }
  100% {
    transform: translateX(0px);
    /* opacity: 1; */
  }
}

.aboutSecondSectionTag {
  font-family: "Press Start 2P", cursive;
  font-size: 1vh;
  color: #dfdfdf;
  margin-top: 30vh;
}

@media screen and (max-width: 900px) {
  .aboutMark {
    font-size: 20vh;
    margin-right: 5vh;
  }
}
@media screen and (max-width: 400px) {
  .aboutMark {
    font-size: 10vh;
    margin-right: 0vh;
  }
  .aboutLineDiv {
    display: none;
  }
}
