.footerBigContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f2;
}

.footerContainer > h4 {
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
}
