::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: rgb(116, 116, 116);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
